.main-container{
    padding: 1rem;
    background-color:#246329;
    margin: 2rem auto;
    width: 50rem;
    max-width: 40%;
    border-radius: 5px;
   
}
.user-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    background-color:  #5ec566;
    position: static;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
  }
  
  .user-infos h2 {
    color: #3a3a3a;
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
  }
  
  .follow-user {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #246329;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
  }
  
  @media (min-width: 580px) {
    .user-details {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }
  
    .user-details h2 {
      font-size: 1.25rem;
    }
  
    .follow-user {
      font-size: 1.25rem;
      padding: 0.5rem 1.5rem;
    }
  }